@{
    ViewData["Title"] = "Meus links: ";
}
<h1>@ViewData["Title"]</h1>

<p> 
    <a href="https://www.linkedin.com/in/caiolucasdesenvolvedor/">Linkedin</a>
</p>
<p> 
    <a href="https://github.com/CaioProg">Github</a>
</p>