@model CrudFornecedores.Models.Fornecedor;

@{
	ViewData["Title"] = "Deleção";
}

<style>
	h1 {
		text-align: center;
	}
</style>

<h1>Deletar Fornecedor</h1>


<h4></h4>
<hr />
<h4>Tem certeza de que deseja realizar essa exclusão?</h4>
<hr />

<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nome)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nome)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Cnpj)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Cnpj)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Deletar" class="btn btn-danger" />

		<br />

		<a asp-action="Index">Voltar a lista</a>
	</form>
</div>
