@model CrudFornecedores.Models.Fornecedor;

@{
    ViewData["Title"] = "Edit";
}

<style>
	h1 {
		text-align: center;
	}
</style>

<h1>Edição do Fornecedor</h1>

<h4></h4>
<hr />

<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input placeholder="Amazon Brasil" asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input placeholder="Ex: 15436940000103"asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <label asp-for="Especialidade" class="control-label"></label>
                <input asp-for="Especialidade" class="form-control" />
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
